@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom reusable components */
@layer components {
    .input {
        @apply w-full px-4 py-2 border rounded-xl
        focus:outline-none focus:ring-2 focus:ring-indigo-400;
    }

    .btn-primary {
        @apply px-4 py-2 rounded-xl bg-indigo-600 text-white
        font-semibold hover:bg-indigo-700 transition;
    }

    .btn-success {
        @apply px-4 py-2 rounded-xl bg-green-500 text-white
        font-semibold hover:bg-green-600 transition;
    }
}
